/* Reset CSS */

html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,pre,code,address,form,
fieldset,blockquote,header,footer,section,aside,nav,div,a{
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

td, th, caption{
  font-weight: normal;
  text-align: left;
}

ol{
  margin-left: 1.4em;
  list-style: decimal;
}

ul{
  margin-left: 1.4em;
  list-style: square;
}

img, fieldset{
  border: 0;
}

q:before, q:after{
  content: '';
}

/* ================================================================================================================= */

/* table{
margin: 40px auto auto auto;

}  */

/* .center{
  text-align: center;
  border: 2px solid red;
}

p{
  font-size: 4em;
} */

/* #commercial{
  background: violet;
  width: 100%;
} */
/* 
.mycontainer{
  background-color:#fafa;
}

#image1, #image2, #image3{
  float: left;
  width: 20vw;
  margin-top: 5vh;
  font-size: 40px;
  text-align: center;
  opacity: 0.5;
}

#paragraph_one{
  margin-top: 70vh;
  background-color: blueviolet;
}

#container1{
  float: left;
  width: 10vw;
  border: 0.2vw dotted rebeccapurple;
}

#container2{
  float: left;
  width: 50vw;
  height: 100vh;
  border: 0.2vw dotted tomato;

}

*/

li{
  float: left;
  list-style: none;
  
}


li a{
  background-color: gray;
  display: block;
  text-decoration: none;
  font-weight: bold;
  border: 1vw thin;
  color: darkred;
  background: -webkit-linear-gradient(red,brown);
}
/*
.emphasise{
  background-color: red;
  color: white;

} */
 
body{
  background-color:darkslategrey;
  font-size: 2vw;
}
/*
header{
  text-align: center;
  font-size: 4vw;
  color: white;
} */
/* 
form{
  color: white;
  width: 80vw;
  height: 20vh;
  border: 0.1vw solid white;
  margin: 6vh auto;
} */

/* input{
  margin: 1vw;
  font-size: 4vw;
} */
/* 
#text{
  width: 40vw;
  height: 40vh;
  background-color: darkkhaki;
  border: 0.1vw solid black;
} */

#submenu{
  position: absolute;
  left: 10vw;
  top: 40vh;
  z-index: 1;
  
}

#main_menu{
  position: absolute;
  left: 54vw;
  top: 10vh;
}