/* Reset CSS */

html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,pre,code,address,form,
fieldset,blockquote,header,footer,section,aside,nav,div,a{
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

td, th, caption{
  font-weight: normal;
  text-align: left;
}

ol{
  margin-left: 1.4em;
  list-style: decimal;
}

ul{
  margin-left: 1.4em;
  list-style: square;
}

img, fieldset{
  border: 0;
}

q:before, q:after{
  content: '';
}

/* ================================================================================================================= */

/* table{
margin: 40px auto auto auto;

}  */

/* .center{
  text-align: center;
  border: 2px solid red;
}

p{
  font-size: 4em;
} */

/* #commercial{
  background: violet;
  width: 100%;
} */
/* 
.mycontainer{
  background-color:#fafa;
}

#image1, #image2, #image3{
  float: left;
  width: 20vw;
  margin-top: 5vh;
  font-size: 40px;
  text-align: center;
  opacity: 0.5;
}

#paragraph_one{
  margin-top: 70vh;
  background-color: blueviolet;
}

#container1{
  float: left;
  width: 10vw;
  border: 0.2vw dotted rebeccapurple;
}

#container2{
  float: left;
  width: 50vw;
  height: 100vh;
  border: 0.2vw dotted tomato;

}

*/


/*
.emphasise{
  background-color: red;
  color: white;

} */
 

/*
header{
  text-align: center;
  font-size: 4vw;
  color: white;
} */
/* 
form{
  color: white;
  width: 80vw;
  height: 20vh;
  border: 0.1vw solid white;
  margin: 6vh auto;
} */

/* input{
  margin: 1vw;
  font-size: 4vw;
} */
/* 
#text{
  width: 40vw;
  height: 40vh;
  background-color: darkkhaki;
  border: 0.1vw solid black;
} */





/* .main_menu{
  float: left;
  margin-left: 10vw;
 
} */

#main{ 
  width: 80vw;
  margin: auto;
  margin-top: 8vh;
}

#submenu{
  position: absolute;
  left: 10vw;
  top: 18vh;
  width: 50vw;
  height: 10vh;
  z-index: 1;

}


div li{
  float: left;
  width: 25vw; 
  list-style: none;
  text-align: center;
  border: 0.1vw solid black;
  /* margin: 0 10vw; */
}


div li a{
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 2vw;
  border: 1vw thin;
  color: white;
  padding: 2vh 6vw;
  background: -webkit-linear-gradient(gray, black);
}

body{
  background-color:rgb(187, 253, 255);
  font-size: 4vw;
  
}

#main{
  text-align: center;
}

h3, p{
  font-size: 1.5vw;
  color: blue;
  text-align: left;
}

#picture{
  border: 0.1vw solid black;
  background: white;
}

#big-image{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 560px;
  height: 420px; 
  border: 0.5vw dotted blueviolet;

}

table{
  float: right;
}

#title-main{
  text-align: center;
  background: orange;

}

#login{
  width: 25vw;
  height: 25vh;
  font-size: 1vw;
  background: skyblue;
  margin: auto;
  margin-top: 2vh;
}

#login form{
  margin: 4vh;
  border: 0.1vw solid black;
  display: none;
}

#open-login{
  color: black;
}

#login .close{
  background: red;
  border: 0.15vw dashed black;
}

#image-visibility{
  opacity: 0.2;
}

#websites{
  font-weight: bold;
  color: goldenrod;
  background: yellow;
  text-align: center;
}

#webs-ajax{
  margin-top: 20vh;
  border: 0.1vw dotted green;
  width: 70vw;
  height: 5vh;
}

ul li{
  margin: 1vh 0 0 2vw;
  font-size: 1vw;
  width: 20vw;
  float: left;
  list-style: none;
}

#extern-container{
  border: 0.2vw dashed saddlebrown;
  height: 100vh;
}
